body { 
    padding-top: 100px; 
    padding-bottom: 100px; 
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

button.navbar-toggler {
    width: 100%;
}

@media only screen and (max-width: 700px) {
  .over-title {
    font-size: 16px;
  }
}